*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', 'sans-serif';
}
body{
    background-color:rgb(42, 41, 41);
}

img{
    cursor: pointer;
}
.n-flex{
    display: flex;
    align-items: center;

}
nav{
    /* border: 2px red solid; */
    padding: 10px 20px;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    position: sticky;
    top: 0;
}
.nav-right img{
    width: 25px;
    margin-right: 25px;
}

.nav-right .userimg{
  border-radius: 50%;
}

.nav-right .noti{
    width: 18px;
}

.nav-left img{
    width: 40px;
}
.nav-left .ytlogo{
    width: 80px;

}

.nav-middle{
    /* border: 2px red solid; */
    width: 35%;
}

.nav-middle .mic-icon{
    width: 26px;

}

.search-box{
    width: 90%;
    border: 1px solid gray;
    border-radius: 50px;
    justify-content: space-evenly;
}

.search-box input{
    width: 80%;
    border: none;
    padding: .4rem;
    outline: none;
    border-radius: 50px;
    background-color: transparent;
    color: white;

}

.search-box img{
    width:45px;
    border: 2px solid green;
    padding:10px;
    border-radius: 50px;
}

.mic-div{
    border: solid green;
    width: 50px;
    height: 50px;
    justify-content: center;
    border-radius: 50%;
}
.mic-icon{
    border: 2px solid red;
    border-radius: 50px;
}
